/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  /* Margin top by header height */
  margin-top: 60px;
}
.footer {
    position:fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.group-container{
    padding:0;
    height:100%;
}

.selectors{
    height:100%;
}

.selectors button{
    border: 0;
    border-radius: 0;
    background-color: #f5f5f5;
    width:25%;
}

.active{
    display: flex;
}

.inactive{
    display: none;
}


